<nav class="vertical-navbar">
  <h1>Henry</h1>
  <ul>
    <li>
      <a routerLink="/cliente">
        <fa-icon [icon]="cliente"></fa-icon>
        <span class="nav-text">Clientes</span>
      </a>


    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="chart"></fa-icon>
        <span class="nav-text">Analytics</span>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="message"></fa-icon>
        <span class="nav-text">Messages</span>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="bookmark"></fa-icon>
        <span class="nav-text">Collections</span>
      </a>
    </li>
  </ul>
</nav>
