

<div class="login">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()" class="custom-form">
    <h1>Login</h1>
    <input formControlName="username" id="usuario" placeholder="Usuario"/>
    @if(loginForm.get('username')?.invalid && submitted){
      <small class="text-red-500">Ingresa Usuario.</small>
    }
    <input formControlName="password" id="password" placeholder="Contraseña" type="password"/>
    @if(loginForm.get('password')?.invalid && submitted){
      <small class="text-red-500">Ingresar Contraseña.</small>
    }
    <button type="submit">Ingresar</button>
  </form>
</div>
