<div class="dashboard">


  <div class="wrapper">
    <div class="cards-container">
      <!-- Card 1 -->
      <app-card
        title="Budget"
        [value]="750.9"
        change="13%"
        iconName="budget"
      ></app-card>

      <!-- Card 2 -->
      <app-card
        title="New Projects"
        [value]="215"
        change="30%"
        iconName="project"
      ></app-card>

      <!-- Card 3 -->
      <app-card
        title="Total hours"
        [value]="1400"
        change="-5%"
        iconName="clock"
      ></app-card>

      <!-- Card 4 -->
      <app-card
        title="Work load"
        [value]="95"
        change="10%"
        iconName="briefcase"
      ></app-card>
    </div>

    <div class="applications-section">
      <h1>Applications</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Company</th>
          <th>Offer</th>
          <th>Meeting</th>
          <th></th>
        </tr>
      </table>
    </div>
  </div>
</div>
