/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/lara-light-blue/theme.css"; */
/* @import "primeng/resources/primeng.css"; */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';
html, body { height: 100%; }


body {
    margin: 0;
    background-color: #f3f4f7;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.card-footer {
    display: flex;
    justify-content: flex-end;
  }

.p-toolbar {
    padding: 0.30rem;
}

.p-breadcrumb {
  background: none;
  border: none;
  padding: 0.5rem;
}


.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: white;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.8rem 0.5rem;
}
